body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  background: #f8fafc;
}

/* Main Layout */
.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #111827;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 25px;
}

.new-chat-btn {
  width: 100%;
  background: #2563eb;
  color: white;
  margin-bottom: 20px;
}

.new-chat-btn:hover {
  background: #1d4ed8;
}

.chat-item {
  color: white;
  transition: 0.2s;
}

.chat-item:hover {
  background: #374151 !important;
}


/* Main Container */
.container {
  flex: 1;
  margin: 0;
  padding: 30px;
  background: white;
  overflow-y: auto;
}


h1 {
  text-align: center;
}


/* Inputs */
input[type="text"] {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  font-size: 16px;
  box-sizing: border-box;
}


/* Buttons */
button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}


/* Chat Area */
.chat-container {
  height: 450px;
  overflow-y: auto;
  border-radius: 12px;
  padding: 20px;
  background: #f8fafc;
  margin-top: 20px;
}


/* Messages */

.chat-box {
  margin-bottom: 20px;
}


.user-message {
  background: #dbeafe;
  padding: 14px;
  border-radius: 15px;
  margin-bottom: 12px;
  max-width: 80%;
  margin-left: auto;
}


.ai-message {
  background: #f1f5f9;
  padding: 14px;
  border-radius: 15px;
  max-width: 80%;
}


.ai-message p,
.user-message p {
  line-height: 1.6;
}


/* Mobile Responsive */
@media(max-width:768px){

  .app{
    flex-direction: column;
  }

  .sidebar{
    width:100%;
    height:auto;
  }

  .container{
    padding:15px;
  }

}
.theme-btn {
  width: 100%;
  margin-bottom: 15px;
  background: #374151;
  color: white;
}


.dark {
  background: #111827;
}


.dark .container {
  background: #1f2937;
  color: white;
}


.dark .chat-container {
  background: #111827;
}


.dark .ai-message {
  background: #374151;
  color: white;
}


.dark .user-message {
  background: #2563eb;
  color: white;
}


.dark input[type="text"] {
  background: #374151;
  color: white;
  border-color: #4b5563;
}

.drop-area {
  border: 2px dashed #94a3b8;
  padding: 35px;
  text-align: center;
  border-radius: 15px;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.3s;
}

.drop-area.active {
  background: #dbeafe;
  border-color: #2563eb;
}

.drop-area span {
  font-size: 14px;
}


.drop-area label {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}